@font-face {
    font-family: 'montserrat-light' ;
    src: url(../fonts/montserrat-light_[allfont.ru].ttf);
}

@font-face {
    font-family: 'NunitoSans-Regular' ;
    src: url(../fonts/NunitoSans-Regular.ttf);
}
@font-face {
    font-family:'Roboto-Medium';
    src: url(../fonts/.ttf);
}