
@import 'fonts.css';
 

:root {
    --m-l: 'montserrat-light';
    --ns-r: 'NunitoSans-Regular';

}




.bg-light {
    background-color: #f8f9fa00 !important;
}

.navbar {
    
    padding: 1.5rem 1rem;
}


header li a {
    font-family: var(--m-l);
    font-size: 12px;
    color: #191919;
    font-weight: 800;
}


.navbar-light .navbar-nav .text_a {
    color: rgb(9, 228, 9) !important;
}


.header_text {
    padding-top: 115px;
    padding-bottom: 110px;
    background: #323232;
    color: white;
}


.header_text .text {
    text-align: center;
}

/* -------------------- header menu---------------------------------- */

.header_menu {
    padding-top: 62px;
    padding-bottom: 0;
    background: #007d2f;
    margin: auto;
   text-align: center;
}

.header_menu .text_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}



.header_menu p {
    color: white;
    margin-bottom: 0rem;
    font-weight: 600;
    text-transform: uppercase;
}



/* ------------------------------- section    ------------------------- */

section {
    background: #f5f5f5;
}

section .section_img img {
    width: 100%;
   
}


section .section_text {
    padding: 90px 128px 99px 110px;
    display: flex;
    flex-direction: column;
    align-items: start ;
}


.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
   
    padding-right: 0; 
    padding-left: 0; 
}



  section .section_text h3 {
      font-family: var(--m-l);
      font-size: 30px;
      padding-bottom: 70px;
  }


 section .section_text img {
     padding-top: 35px;
 }



/* ------------------------   section_text  ---------------------------------- */


.section_text {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}


.section_text h3 {
    font-family: var(--m-l);
    font-weight: 900;
    font-size: 30px;
    padding-bottom: 35px;
}


.section_text p {
    font-family: var(--ns-r);
    font-size: 16px;
    color: #787878;
    font-weight: 600;
}


.section_text .box {
    padding-top: 16px;
}


.section_text .box a {
    padding: 22px 42px;
    background: #007d2f;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.section_text .box :hover {
    box-shadow: 5px 5px 10px #191919;
    border-radius: 10px;
    background: #04e058;
}


/* ---------------------------------------   footer   ----------------------------------------- */


footer {
    background: #141414;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 93px;
}

footer p {
    color: #6c6c6c;
    font-family: var(--ns-r);
    font-size: 15px;
}


footer h3 {
    font-family: var(--m-l);
    font-weight: 700;
    font-size: 17px;
    color: white;
}

footer .text {
    margin-top: 50px;
}











/* ------------------------------------------------------------------------ */
                                /* media */
/* ------------------------------------------------------------------------ */


@media (max-width: 992px) {
section .section_text {
    padding: 28px 50px 16px 62px;
}
}





